.cont {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: var(--main-color);
    align-content: center;
}

.cont > img {
    width: 70%;
    margin: auto;
}

.cont > h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.cont > h2 {
    font-size: clamp(1rem, 3vw, 2rem);
}

.cont > h1, .cont > h2 {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.details {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    padding: 20px 0;
    border: 2px solid var(--main-color);
    justify-content: space-evenly;
    font-size: clamp(0.6rem, 2vw, 1rem);
}

.details > h2 {
    text-align: center;
}