.first {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 30px;
}

.first > h1 {
    text-align: center;
    color: var(--main-color);
    align-self: center;
    font-size: clamp(1.5rem, 3vw, 3rem);
 
}

.first > h1 > p {
    font-size:  clamp(1rem, 2vw, 1.5rem);
    text-align: justify;
    font-weight: lighter;
    margin-bottom: 50px;
}

.logo {
    align-self: center;
    width: 400px;
}
