.menu-items {
    min-height: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    color: var(--main-color);
}

.menu-items > div {
    display: grid;
    grid-auto-flow: column;
    grid-template: repeat(8, 1fr) / 1fr 1fr;
    border: 2px solid;
    margin: 10px;
    padding: 20px;
}

.menu-items > div > img {
    grid-column: span 2;
}

.menu-items > div > h1 {
    grid-column: span 2;
}

.menu-items > div > *{
    justify-self: center;
    align-content: center;
    height: 100%;
}

.menu-items > div > h2 {
    width: 60%;
    font-size: clamp(0.6rem, 2vw, 1.5rem);
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
}

.menu-items > div > p {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    border-bottom: 2px solid var(--main-color);
    width: 60%;
}
